.scan-table {
  padding: 20px;
}

.scan-back-button {
  color: #050505;
  font-size: 0.9rem;
  font-weight: bold;
}

.scan-dialog-btns {
  padding-top: 1rem;
}

.scan-button {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 3px;
  opacity: 1;
  margin-right: 0.5rem;
}

.scan-button:hover {
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 3px;
  opacity: 1;
}

.scan-button:focus-visible {
  border: 1px solid var(--unnamed-color-000000);
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 1;
}

.scan-override-button {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #BC000E;
  border-radius: 3px;
  opacity: 1;
}

.scan-override-button:hover {
  background: #FFF8F8 0% 0% no-repeat padding-box;
  border: 1px solid #BC000E;
  border-radius: 3px;
  opacity: 1;
}

.scan-override-button:focus-visible {
  border: 1px solid var(--unnamed-color-000000);
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 1;
}

.scan-icon-column {
  padding: 1.5rem 0 1.5rem 2rem;
  width: 1.5rem;
  font-size: 1.9rem;
}

.scan-document-name {
  padding: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1rem;
  color: #333333;
}

.scan-btn-name {
  padding: 1.5rem 2rem 1.5rem 0;
}

.scan-document-header {
  margin-bottom: 1rem;
}

.scan-document-dialog-container {
  padding: 0 2.5rem 1.5rem;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  /* border: 1px solid #707070; */
  position: relative;
}

.scan-text-btn-icon {
  color: #050505;
  font-size: 1rem;
  font-weight: 600;
}

.scan-options-btn {
  margin: 0;
  padding-right: 5px;
}


.scanned-img {
  border: 1px solid #707070;
  background: white;
}

.scan-close-icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 1rem;
  padding: 0 10px 0 0;
}


.scan-close-icon-pdf {
  padding: 8px 0 4px;
}

.scan-zoom-icon-in {
  position: absolute;
  right: 0;
  top: 5rem;
}

.scan-zoom-icon-out {
  position: absolute;
  right: 0;
  top: 8rem;
}

.scan-rotate-right {
  position: absolute;
  right: 0;
  top: 12rem;
}

.scan-rotate-left {
  position: absolute;
  right: 0;
  top: 15rem;
}

.scanned-document-details {
  font: normal normal normal 12px/23px Open Sans;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin-left: 0.5rem;
}

.scan-delete-icon {
  color: #9a0404;
  bottom: 0.125rem;
}

.scan-comment-icon {
  color: var(--orange70);  
  
}

.scan-view-icon {
  color: var(--black100);  
  bottom: 0.063rem;
}

.scan-pagging-icon {
  color: var(--white100); 
  width: 1.3rem;
  height: 1.6rem;
  background: #727272 0% 0% no-repeat padding-box;
  border-radius: 0.19rem;
}

.scan-pagging-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  padding-top: 0.625rem;
}

.scan-dialog-heading {
  text-transform:uppercase;
  margin-bottom: 0.5rem;
  left: 0;
  top: 0;
  font-size: 1rem;
  padding: 0 10px 0 0;
}

.scan-only-scan-btn {
  padding-right: 7.5rem;
}

.scan-progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scan-progress-bar {
  width: 18rem;
}


/* Scanning Dialog Box*/
.scan-breadcrumb-right-pane {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  text-align: center;
  align-items: center;
  min-width: 45%;
  overflow: hidden;
}

.scan-breadcrumb-document {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scan-breadcrumb-img-default,
.scan-breadcrumb-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.scan-breadcrumb-slider-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
