.date-picker {
  display: flex;
}

.date-picker .MuiFormControl-root {
  flex: 1;
}

.date-picker .MuiInputBase-adornedEnd {
  padding-right: 0.875rem !important;
}

.has-date .MuiOutlinedInput-root {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
}

.date-helper-text {
  background: var(--white70);
  padding: 0 0.625rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.23);
  border-left: none;
  font: normal normal 600 0.75rem/1.0625rem Open Sans;
  color: var(--black80);
  display: flex;
  align-items: center;
}

.address-details {
  border: 0.0625rem solid #c6c6c6;
  border-radius: 0.3125rem;
  margin-top: 1.5rem;
}

.address-details .legend {
  font: normal normal bold 1.125rem/1rem Open Sans;
  letter-spacing: 0;
  color: var(--black100)
}

.address-status-wrapper {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.address-status {
  background: var(--primary30) 0% 0% no-repeat padding-box;
  border: 0.125rem solid #167abc;
  border-radius: 0.25rem;
  padding: 1rem;
}

.address-status input {
  background: var(--white100)
}

.valid-address {
  display: flex;
  align-items: center;
  font: normal normal 600 1rem/1.375rem Open Sans;
  color: var(--black100)
}

.invalid-address {
  font: normal normal normal 1rem/1.375rem Open Sans;
  letter-spacing: 0;
  color: #830909;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.address-line {
  border-right: 0.0625rem solid #d0d0d0;
  padding-right: 1.25rem;
  margin-right: 1.25rem;
}

.address-status-text {
  color: var(--green100);
  display: flex;
  margin-left: auto;
}

.address-header {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #707070;
  min-height: 4rem;
}

.primary-address-header {
  border-bottom: none;
}

.delete-address {
  background: #ebebeb 0% 0% no-repeat padding-box;
  border-radius: 50%;
  margin-left: 1.25rem;
  padding: 0.125rem;
  cursor: pointer;
  color: #9a0404;
}

.address-title {
  font: normal normal bold 1.125rem/1rem Open Sans;
  letter-spacing: 0;
  color: var(--black100)
}

.accordion-right {
  margin-left: auto;
  display: flex;
}

.address-duration {
  background: var(--primary10) 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #242424;
  border-radius: 1rem;
  margin-right: 0.3125rem;
  padding: 0.1875rem 0.375rem;
}

.address-content {
  height: auto;
  transition: height 0.1875rem cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.address-content.collapsed {
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.certifier-header {
  display: flex;
  justify-content: space-between;
}

.certifier-header-text {
  font: normal normal bold 1.125rem/1rem Open Sans;
  color: var(--black100)
}

.certifications-wrapper,
.certifications-status-wrapper,
.add-address-btn {
  margin-top: 1rem;
}

.street-list {
  border-top: 0.0625rem solid #707070;
  max-height: 20rem;
  overflow-y: auto;
  border-bottom: 0.0625rem solid #707070;
  margin-top: 1rem;
}

.street-list ul {
  margin: 0;
  padding: 0;
}

.street-list li {
  padding: 1rem;
  cursor: pointer;
}

.street-list li.selected {
  font-weight: bold;
}

.street-list li:nth-child(odd) {
  background: var(--white60) 0% 0% no-repeat padding-box;
}

.requester-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

.requester {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 0.5rem;
  width: auto;
  color: var(--white100);
  padding: 0 1rem;
  text-align: center;
}

.requester-title {
  font: normal normal normal 0.75rem/1.0625rem Open Sans;
}

.requester-user {
  font: normal normal bold 0.875rem/1.1875rem Open Sans;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.override-text {
  font: normal normal 600 0.875rem/1.4375rem Open Sans;
  margin-top: 1rem;
  color: #1d4ec7;
  display: flex;
}

.override-text svg {
  margin-right: 0.3125rem;
}

.certifier-wrapper {
  box-shadow: 0.0625rem 0.1875rem 0.375rem #0000000d;
  border: 0.0625rem solid #dedede;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
}

.certifier-title {
  font: normal normal bold 1.125rem/1rem Open Sans;
  letter-spacing: 0;
  color: var(--black100);
  margin-bottom: 0.5rem;
}

.certifier-additional-details {
  margin-top: 1.5rem;
}

.certifier-actions-button {
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
}

.search-dialog .MuiDialog-paper {
  min-width: 86vw;
}

.search-result-card {
  width: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.14);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-title-text {
  text-align: left;
  font: normal normal bold 1.5rem/1.875rem Open Sans;
  letter-spacing: 0;
  color: var(--primary100);
  margin-bottom: 1.313rem;
}

.search-result-container {
  max-height: 72.5vh;
}

.search-result-table {
  max-width: 98.5%;
  margin: 0.625rem;
}

.search-result-table-head {
  background-color: #f8f9fb;
  font-weight: bold;
}

.search-result-row {
  cursor: pointer;
}

.search-result-row:hover {
  background-color: var(--primary30) !important;
}

.search-result-table-even {
  background-color: #f2f2f2;
}

.not-found {
  text-align: center;
  margin-top: 4rem;
}

.search-found-title {
  text-align: center;
  color: var(--black100);
  font: normal normal bold 1.5rem/1.875rem Open Sans;
  letter-spacing: 0;
  margin: 2rem 0 1rem;
}

.search-found-subtitle {
  font: normal normal normal 1rem/1.875rem Open Sans;
  color: #000000de;
  margin-bottom: 1.25rem;
}

.search-found-link {
  font: normal normal normal 1rem/1.875rem Open Sans;
  letter-spacing: 0;
  color: #1860b5;
  margin-bottom: 1.25rem;
  cursor: pointer;
}