.usp-box {
  margin-top: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;
}

.usp-passptnum {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: black;
}

.usp-datepick {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: black;
  width: 100%;
}

.usp-datepick button svg {
  padding-right: 1rem;
}

.usp-verifybtn {
  margin-top: 0.9rem;
}

.usp-status {
  font: normal normal 600 16px/22px Open Sans;
}

.usp-verify {
  font: normal normal normal 12px/25px Open Sans;
}

.usp-verifylink {
  font: normal normal 600 16px/30px Open Sans;
}
