.option1 .MuiOutlinedInput-input:disabled {
    background: #F8F9FA;
    border-color: #CACFD8 ;
    -webkit-text-fill-color:#666666
}
.option1  .MuiInputLabel-root.Mui-disabled {
    color:#666
}

.option2 .MuiOutlinedInput-input:disabled {
    background: #CACFD8;
    border-color: #CACFD8 ;
    color:#666666
}

.option2  .MuiInputLabel-root.Mui-disabled {
    color:#666
}


.option3 .MuiOutlinedInput-input:disabled {
    background: #e9ecef;
    border-color: #ced4da ;
    color:#495057
}

.MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    padding: 8.5px 14px!important;
}

.MuiOutlinedInput-root.MuiInputBase-sizeSmall {
    padding: 0!important;
}
.option1-checkbox .invalid-checkbox + span {
    color: var(--red100)
}
.option2-checkbox .MuiFormHelperText-root {
    color: var(--red100)
}
 